<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Book</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 100vh;
        }
        p {
            margin-left: 4rem;
            font-size: 2rem;
            color: black;
        }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<p>Created an device to be upgraded</p>

<p><a href="/admin/upgrade/show?mac={{.Mac}}">{{.Url}} - {{.Version}} - {{.Md5}} </a></p>
<p class="link"><a href="/admin/upgradeInfo">All devices to be upgrade</a></p>
</body>
</html>